[Unit]
Description=Levanta el servidor de Marpaga una vez se inicie el ordenador
After=network.target

[Service]
User=marco
Group=marco
WorkingDirectory=/var/www/html/marpaga_tfg
ExecStart=/var/www/html/env/bin/gunicorn wsgi -w 4 --access-logfile /tmp/access.log --error-logfile /tmp/error.log
Restart=always

[Install]
WantedBy=multi-user.target
