[Unit]
Description=Levanta el servidor de Marpaga una vez se inicie el ordenador
After=network.target

[Service]
User=marco
Group=marco
WorkingDirectory=/var/html/www/marpaga_tfg
ExecStart=/var/html/www/env/bin/gunicorn wsgi -b 0.0.0.0:8000 -w 4
Restart=always

[Install]
WantedBy=multi-user.target
