# Ignorar archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

TEMPORAL/
# Ignorar archivos de configuración local
#maquinas_docker_compose/startrek_payroll/
# Ignorar archivos de base de datos
db.sqlite3
django_requests.log
# Ignorar archivos de entorno
.env
