{% extends "gestion/basic_template.html" %}
{% load static %}

{% block form%}
<div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
  <h5 class="mb-3 mb-sm-0 text-center">Inicia Sesion</h5>
  <div class="d-flex align-items-center justify-content-between mb-3">
  <a href="/" class="navbar-brand mx-4 mb-3 d-flex align-items-center">
    <img src='{% static "assets/img/logo.jpg" %}' alt="Foto" class="rounded-icon me-2" width="100" height="100">
    <h3 class="text-primary mb-3 mb-sm-0">MARPAGA</h3>
  </a>
</div>

<form method="post">
  {% csrf_token %}
  <div class="form-floating mb-4">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      name="username"
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{ form.username.value|default:'' }}"
      name="{{ form.username.html_name }}"
    />
    <label for="floatingInput">Nombre de usuario</label>
  </div>
  <div class="form-floating mb-4">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      value="{{ form.password.value|default:'' }}"
      name="{{ form.password.html_name }}"
    />
    <label for="floatingPassword">Contraseña</label>
  </div>
  {% if request.method == 'POST' %}
  <div class="alert alert-primary" role="alert">
    ¡Usuario y/o contraseña incorrectos!
  </div>
  {% endif %}
  {% for message in messages %}
      <!-- Si el mensaje es de exito usar class="alert alert-success" role="alert" -->
      {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
      </div>
      <!-- Si el mensaje es de error usar class="alert alert-danger" role="alert" -->
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
      </div>
      <!-- Si el mensaje es de informacion usar class="alert alert-info" role="alert" -->
      {% elif message.tags == 'info' %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ message }}
      </div>
      {% endif %}
      {% endfor %}
  <div
    class="d-flex align-items-center justify-content-between mb-4"
  >
    <a href="../password_reset/">He olvidado mi contraseña</a>
  </div>
  <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
    Iniciar Sesión
  </button>
</form>
<p class="text-center mb-0">
  ¿Todavía no te has registrado? <a href="{% url 'registro' %}">Registrarse</a>
</p>
</div>
{% endblock %}
