{% extends 'personal/basic_profile.html' %}


{% block profile %}
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-6 col-xl-3">
      <div
        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-chart-line fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Puntuacion</p>
          <h6 class="mb-0">{{request.user.jugador.obtener_puntuacion|default:"0"}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sale & Revenue End -->
{% endblock profile %}

{% block machineDetails %}
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="">
      <div class="h-100 bg-secondary rounded p-4">
        <h1>¡Bienvenido de nuevo, {{ request.user }}!</h1>
        <p>Explora nuestros desafiantes laboratorios y ¡demuestra tus habilidades en pentesting!</p>
        
        <h2>¿Nuevo en Marpaga?</h2>
        <p>Accede al apartado "Descargar VPN" desde tu foto de perfil y sigue las instrucciones para conectarte a nuestra VPN y explora nuestras máquinas disponibles para comenzar tus desafíos.</p>
        
        <h2>Tu Puntuación y Ranking</h2>
        <p>Consulta tu puntuación desde el apartado Ranking y compara tus habilidades con otros usuarios. ¿Eres el mejor pentester de Marpaga?</p>
        <h4>¡Demuestra tus habilidades!</h4>
        {% if posicion != 1 %}
        <p>¡Comienza a hackear nuestras máquinas y sube en el ranking!
        <p> ¡¡Actualmente estas en la posición numero {{posicion}}, sigue consiguiendo puntos para alcanzar la posición numero 1!!</p>
        {% else %}
        <h6>¡¡Felicidades!! Ahora mismo eres el mejor pentester de Marpaga, sigue consiguiendo puntos para mantener tu posición.</h6>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Cuadro Modal -->
<div class="modal" id="vpnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="container-fluid pt-4 px-4">
    <div class="" style="top: 50%; left: 50%; transform: translate(0%, 50%);">
      <div class="h-100 bg-secondary rounded p-4" style="flex-direction: column;">
        <div class="modal-content" style="background-color: #191C24; border: none;">
          <h2>Instrucciones para Conectarte a la VPN</h2>
          <p>
            Para conectarte a nuestra red VPN segura, sigue los siguientes pasos:
          </p>
          <ol>
              <li>Descarga el archivo de configuración de la VPN haciendo clic en el enlace de abajo.</li>
              <li>Instala un cliente de VPN compatible en tu dispositivo (<a href="https://openvpn.net/community-downloads/" target="_blank">openvpn</a>).</li>
              <li>Importa el archivo de configuración descargado en tu cliente de VPN.</li>
              <li>Conéctate a la VPN.</li>
          </ol>
          <a href="{% url 'descargar_archivo' %}" download="{{request.user}}.ovpn">Descargar Archivo de VPN</a>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: #EB1616; border-radius: 4px; border: none; width: 200px;" >
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Cuadro Modal -->

<script>
  // JavaScript para abrir y cerrar el modal
  var modal = document.getElementById("vpnModal");
  var btn = document.getElementById("openModalBtn");
  var span = document.getElementsByClassName("close-btn")[0];

  btn.onclick = function() {
      modal.style.display = "block";
  }

  span.onclick = function() {
      modal.style.display = "none";
  }

  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>
{% endblock machineDetails %}