{% extends "gestion/basic_template.html" %}
{% block sidebar%}
      <!-- Sign Up Start -->
      <div class="container-fluid">
        <div
          class="row h-100 align-items-center justify-content-center"
          style="min-height: 100vh"
        >
          <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
              <div
                class="d-flex align-items-center justify-content-between mb-3"
              >
                <a href="/" class="">
                  <h3 class="text-primary">
                    <i class="fa fa-user-edit me-2"></i>MARPAGA
                  </h3>
                </a>
                <h4>Registrate</h4>
              </div>
              <form method="post">
                {% csrf_token %} {% if form.errors %}
                <div class="bg-primary text-white p-3 mb-4">
                  <ul>
                    {% for field in form %} {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %} {% endfor %}
                  </ul>
                </div>
                {% endif %}
                {% if messages %}
                <div class="bg-secondary rounded h-100 p-4">
                  {% for message in messages %}
                  <!-- Si el mensaje es de exito usar class="alert alert-success" role="alert" -->
                  {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                  </div>
                  <!-- Si el mensaje es de error usar class="alert alert-danger" role="alert" -->
                  {% elif message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {{ message }}
                  </div>
                  <!-- Si el mensaje es de informacion usar class="alert alert-info" role="alert" -->
                  {% elif message.tags == 'info' %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                      {{ message }}
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>
              {% endif %}
                <p class="mb-4">
                  Por favor completa el formulario para crear una cuenta.
                </p>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingText"
                    value="{{ form.username.value|default:'' }}"
                    name="{{ form.username.html_name }}"
                  />
                  <label for="floatingText">Nombre de usuario</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    value="{{ form.email.value|default:'' }}"
                    name="{{ form.email.html_name }}"
                  />
                  <label for="floatingInput">Correo electronico</label>
                </div>
                <div class="form-floating mb-4">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    value="{{ form.password1.value|default:'' }}"
                    name="{{ form.password1.html_name }}"
                  />
                  <label for="floatingPassword">Contraseña</label>
                </div>
                <div class="form-floating mb-4">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    value="{{ form.password2.value|default:'' }}"
                    name="{{ form.password2.html_name }}"
                  />
                  <label for="floatingPassword">Repite contraseña</label>
                </div>
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                ></div>
                <div class="g-signin2" data-onsuccess="onSignIn">
                  <button
                    type="submit"
                    class="btn btn-primary py-3 w-100 mb-4"
                  >Inicia sesión con google</button>
                </div>
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
                  Registrarse
                </button>
              </form>
              <p class="text-center mb-0">
                ¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesion</a>
              </p>
              <script src="https://apis.google.com/js/platform.js" async defer></script>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign Up End -->
{% endblock %}