{% extends 'personal/basic_profile.html' %}
{% load static %}
{% block profile %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- En este boton se probaba que se podia pasar una variable de la vista al js -->
        <!-- <button id="prueba" class="btn btn-success">Prueba</button> -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Valoración de las máquinas</h6>
                <canvas id="votaciones-usuarios"></canvas>
            </div>
        </div><p>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Tiempo medio de las maquinas activas</h6>
                <canvas id="tiempo-medio-activo"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock profile %}

{% block machineDetails %}
{% endblock machineDetails %}


{% block scripts %}
<script>
// Grafico de las votaciones de los usuarios
var ctx1 = $("#votaciones-usuarios").get(0).getContext("2d");
var datosTexto = '{{ datos }}';
var datos = JSON.parse(datosTexto.replace(/&#x27;/g, '"'));
/*var etiquetas = datos.map(function(item) {
    return item.maquina;
});*/
var maquinasUnicas = new Set();

// Agregar máquinas únicas al conjunto
datos.forEach(function(item) {
    maquinasUnicas.add(item.maquina);
});

// Convertir el conjunto de máquinas únicas a un array
var etiquetas = Array.from(maquinasUnicas);
var datos_bandera_0 = datos.filter(function(item) {
    return item.bandera === 0;
}).map(function(item) {
    return item.media_valoraciones;
});

var datos_bandera_1 = datos.filter(function(item) {
    return item.bandera === 1;
}).map(function(item) {
    return item.media_valoraciones;
});
var myChart1 = new Chart(ctx1, {
    type: "bar",
    data: {
        labels: etiquetas,
        datasets: [{
            label: "Flag 0",
            data: datos_bandera_0,
            backgroundColor: "rgba(235, 22, 22, .7)"
        },
        {
            label: "Flag 1",
            data: datos_bandera_1,
            backgroundColor: "rgba(235, 22, 22, .5)"
        }]
    },
    options: {
        responsive: true,
        scales: {
            x: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Máquinas'
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'Media de valoraciones'
                }
            }
        }
    }
});


// Grafico 2 para el tiempo medio de actividad de las máquinas
var ctx1 = $("#tiempo-medio-activo").get(0).getContext("2d");
var datosTexto = '{{ tiempos }}';
var tiempos = JSON.parse(datosTexto.replace(/&#x27;/g, '"'));
console.log("tiempos:", tiempos);

console.log("etiquetas:", etiquetas);
var maquinas = tiempos.filter(function(item) {
    return item.bandera === 0;
}).map(function(item) {
    return item.media_valoraciones;
});

//Meto en media_tiempos la media de los tiempos de las maquinas y si es 0 meto 0
var media_tiempos = tiempos.map(function(item) {
    return item.tiempo;
});

console.log("media_tiempos:", media_tiempos);

var myChart1 = new Chart(ctx1, {
    type: "bar",
    data: {
        labels: etiquetas,
        datasets: [{
            label: "Tiempo medio de actividad",
            data: media_tiempos,
            backgroundColor: "rgba(235, 22, 22, .7)"
        }]
    },
    options: {
        responsive: true,
        scales: {
            x: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Máquinas'
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'Tiempo medio de actividad en segundos'
                }
            }
        }
    }
});
</script>
<script src="{% static 'js/misFunciones.js' %}"  defer data-hola="{{ pruebaBoton }}"></script>
{% endblock scripts %}