{% extends 'personal/basic_profile.html' %}
{% load humanize %}

{% block profile %}
<!-- Sale & Revenue Start -->
{% endblock profile %}

{% block machineDetails %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h3 class="mb-4">Estos son tus logros obtenidos:</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Maquina</th>
                                <th scope="col">Bandera</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Puntuación</th>
                                <th scope="col">Valoración</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in logros %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ l.maquina_vulnerable }}</td>
                                <td>{% if l.bandera == 0 %}flag 1 {% else %} flag 2 {% endif %}</td>
                                <td>{{ l.fecha_obtencion|date:"d/m/Y H:i" }} ({{l.fecha_obtencion|naturaltime }})</td>
                                <td>{{ l.puntuacion }}</td>
                                <td>
                                    <div class="rating" data-rating="0" id="rating-{{ forloop.counter }}">
                                        <i class="star fas fa-star" data-rating="1"></i>
                                        <i class="star fas fa-star" data-rating="2"></i>
                                        <i class="star fas fa-star" data-rating="3"></i>
                                        <i class="star fas fa-star" data-rating="4"></i>
                                        <i class="star fas fa-star" data-rating="5"></i>
                                    </div>
                                </td>
                                <td>
                                    {% if l.id not in maquinas_valoradas %}
                                        <form method="post" action="{% url 'guardar_valoracion' %}" id="miFormulario">
                                            {% csrf_token %}
                                            <input type="hidden" name="maquina_id" value="{{ l.maquina_vulnerable.id }}">
                                            {% if l.bandera == 0 %}  
                                                <input type="hidden" name="bandera" value="0">
                                            {% else %}
                                                <input type="hidden" name="bandera" value="1">
                                            {% endif %}
                                            <input type="hidden" name="valoracion" id="rating-{{ forloop.counter }}-value" value="0">
                                            <button type="submit" class="btn m-2 btn-success">Valorar</button>
                                        </form>
                                    {% else %}
                                        <button class="btn m-2 btn-success" disabled data-valorada="{{ maquinas_valoradas|get_item:l.id}}" data-id="{{ l.id }}">Valorar</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
{% if messages %}
{% for message in messages %}
<!-- Modal -->
<div class="modal fade" id="votacionHecha" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: #191C24; border: none;">
        <div class="modal-header">
              <h5>{% if message.tags == 'success' %}
              ¡Éxito!</h5>
              {% else %}
              ¡Error!</h5>
              {% endif %}
            <button type="button" id="cerrarModal" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}

{% endblock machineDetails %}

{% block scripts %}
<script>

// Codigo para las estrellas de la valoracion
const rows = document.querySelectorAll("tr");
//const ratingText = document.querySelector(".btn-success");
rows.forEach((row, index) => {
    const stars = row.querySelectorAll(`#rating-${index} .star`);
    const form = row.querySelector("form");
    let currentRating = 0;

    if (form == null) {
        return;
    }
    stars.forEach((star) => {
        star.addEventListener("click", function() {
            const rating = parseInt(star.getAttribute("data-rating"), 10);
            // Cojo el input hidden valoracion para cambiar el value
            const valoracion = form.querySelector(`#rating-${index}-value`);
            valoracion.value = rating;
            setActiveStars(rating, stars);
            currentRating = rating;
        });

        star.addEventListener("mouseover", function() {
            const rating = parseInt(star.getAttribute("data-rating"), 10);
            setHoverStars(rating, stars);
        });

        star.addEventListener("mouseout", function() {
            setActiveStars(currentRating, stars);
        });
    });

    function setActiveStars(rating, stars) {
        stars.forEach((star) => {
            const starRating = parseInt(star.getAttribute("data-rating"), 10);
            star.classList.remove("hover");
            star.classList.toggle("active", starRating <= rating);
        });
    }

    function setHoverStars(rating, stars) {
        stars.forEach((star) => {
            const starRating = parseInt(star.getAttribute("data-rating"), 10);
            star.classList.toggle("hover", starRating <= rating);
        });
    }
});
//Función para activar el numero de estrellas inidicado
function setActiveStarsListas(rating, stars) {
    stars.forEach((star) => {
        const starRating = parseInt(star.getAttribute("data-rating"), 10);
        star.classList.toggle("active", starRating <= rating);
    });
}
//Obtengo el valor de la valoracion
rows.forEach((row, index) => {
    //Cojo el boton de submit
    const btn = row.querySelector("button[disabled]");
    if (btn != null) {
        const valoracion = btn.dataset.valorada;
        setActiveStarsListas(parseInt(valoracion), row.querySelectorAll(`#rating-${index} .star`) );
    }
});
// Fin del codigo para las estrellas de la valoracion

//Codigo para el modal
const modal = document.querySelector("#votacionHecha");
if (modal != null) {
    $(document).ready(function() {
        $('#votacionHecha').modal('show');
    });
}
//Si se pulsa cerrarModal cerror la modal
const cerrarModal = document.querySelector("#cerrarModal");
if (cerrarModal != null) {
    cerrarModal.addEventListener("click", function() {
        $('#votacionHecha').modal('hide');
    });
}

</script>
{% endblock scripts %}