{% extends 'personal/basic_profile.html' %}
{% load static %}
{% block listMachines %}
<!-- List of machines -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-secondary text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h4 class="mb-0">Listado de maquinas disponibles</h4>
      <div class="nav-item dropdown flex-column">
        <div style="text-decoration: underline;">Filtrar por:</div>
        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Dificultad</a>
        <div class="dropdown-menu bg-transparent border-0">
          <button class="btn btn-primary" onclick="filterTable('all')">Todos</button>
          <button class="btn btn-outline-primary" onclick="filterTable('facil')">Fácil</button>
          <button class="btn btn-outline-primary" onclick="filterTable('media')">Media</button>
          <button class="btn btn-outline-primary" onclick="filterTable('dificil')">Difícil</button>
          <button class="btn btn-outline-primary" onclick="filterTable('experta')">Experta</button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
          <tr class="text-white">
            <th scope="col">Nombre</th>
            <th scope="col">Dificultad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for m in  maquinas %}
          <tr>
            <td><a class="text-white" href="{% url 'gestion_maquina' m.maquina_vulnerable %}">{{ m.maquina_vulnerable.nombre }}</a></td>
            <td>{{ m.maquina_vulnerable.nivel_dificultad }}</td>
            <td>
              {% if m.activa %}
                <a class="btn btn-sm btn-success">Activa</a>
              {% else %}
                <a class="btn btn-sm btn-light">Desactivada</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- List of machines End -->
{% endblock %}
