{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Marpaga - Plataforma de hackin etico</title>
  </head>
  <body>
    <header>
      <div class="top-bar">
          <div class="user-menu">
              <ul>
                  <li><a href="/">Inicio Sin cerrar sesion</a></li>
                  <li><a href="{% url 'maquinas' %}">Maquinas</a></li>
                  <li><a href="{% url 'logout_vista' %}">Cerrar sesion</a></li>
              </ul>
          </div>
      </div>
    </header>
  <body>
    <h1>Detalles de la maquina {{relacion_maquina_jugador.maquina_vulnerable}} -> {{relacion_maquina_jugador.jugador}}</h1>
    <p>Selected Machine: {{ machine_name }}</p>
    {% if relacion_maquina_jugador.ip_address %}
    <p>IP: {{ relacion_maquina_jugador.ip_address }}</p>
    {% endif %}
    {% if relacion_maquina_jugador.activa %}
    <div>
      <form id="desactivar_maquina" onclick="mostrarIndicadorDeCarga('desactivar_maquina')" action="{% url 'desactivar_maquina' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}" method="post">
        {% csrf_token %}
      <button id="miBoton" type="submit" class="btn btn-danger">Desactivar</button>
      </form>
    </div>
    {% else %}
    <div>
      <form id="desactivar_maquina" onclick="mostrarIndicadorDeCarga('desactivar_maquina')" action="{% url 'activar_maquina' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}" method="post">
      {% csrf_token %}
        <button id="miBoton" type="submit" class="btn btn-success">Activar </button>
      </div>
    </form>
    {% if messages %}
    <div class="col-sm-12 col-xl-3">
      <div class="alert alert-primary alert-dismissible fade show">
        <i class="fa fa-exclamation-circle me-2"></i>
        {% for message in messages %}
          <!-- Si el mensaje es de error -->
          {% if message.tags == 'error' %}
            {{ message }}
          {% elif message.tags == 'success' %}
            <p> {{ message }} </p>
          {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
      </div>
    </div>
    {% endif %}
    {% endif %}
      
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="{% static 'js/misFunciones.js'%}"></script>
  </body>
</html>
