{% extends 'personal/basic_profile.html' %}
{% load static %}
{% load humanize %}
{% block machineDetails %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-secondary rounded-top p-4">
    <h1>Detalles de la maquina {{relacion_maquina_jugador.maquina_vulnerable}}</h1>
    <!-- Descripción de la maquina -->
    <p>Nivel de dificultad: {{ relacion_maquina_jugador.maquina_vulnerable.nivel_dificultad }}</p>
    <p>{{ relacion_maquina_jugador.maquina_vulnerable.descripcion|default:"" }}</p>

    {% if relacion_maquina_jugador.activa %}
    <!-- Compruebo si el usuario ya ha conseguido la flag 1 -->
    <!-- Formulario para introducir la flag 1 -->
    <form id="flag1" action="{% url 'flag' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}" method="post">
      {% if not conseguido %}
      {% csrf_token %}
      <div class="mb-3">
        <label for="flag1" class="form-label">Flag 1</label>
        <input type="text" class="form-control" id="flag1" name="flag1">
      </div>
      <p> El valor de control {{control}}</p>
      <button type="submit" onclick="mostrarModalConfirmacion('{{ control }}')" class="btn btn-primary" id="btnFlag1">Enviar</button>
      <!-- --------------------------- -->
      {% else %}
      <div class="alert alert-success" role="alert">
        <i class="fa fa-check-circle me-2"></i>
        Has conseguido la flag ({{ conseguido.fecha_obtencion|naturaltime }})
      </div>
      {% endif %}
    </form>
    <!-- End of flag 1 form -->

    <!-- Formulario para introducir la flag 2 -->
    <form id="flag2" action="{% url 'flag' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}" method="post">
      {% if not conseguido1 %}
      {% csrf_token %}
      <div class="mb-3">
        <label for="flag2" class="form-label">Flag 2</label>
        <input type="text" class="form-control" id="flag2" name="flag2">
      </div>
      <button type="submit" class="btn btn-primary" id="btnFlag2">Enviar</button>
      {% else %}
      <div class="alert alert-success" role="alert">
        <i class="fa fa-check-circle me-2"></i>
        Has conseguido la flag ({{ conseguido1.fecha_obtencion|naturaltime }})
      </div>
      {% endif %}
    </form>
    <!-- End of flag 2 form -->
    <p>IP: {{ relacion_maquina_jugador.ip_address }}</p>
        {% if messages %}
        <div class="bg-secondary rounded h-100 p-4">
          {% for message in messages %}
          <!-- Si el mensaje es de exito usar class="alert alert-success" role="alert" -->
          {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
          </div>
          <!-- Si el mensaje es de informacion usar class="alert alert-info" role="alert" -->
          {% elif message.tags == 'info' %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {{ message }}
          </div>
          {% elif message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <i class="fa fa-exclamation-circle me-2"></i>
            {{ message }}
          </div>
          {% else %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
          
          {% endif %}
          {% endfor %}
      </div>
    {% endif %}
    <div>
      <form id="desactivar_maquina" onclick="mostrarIndicadorDeCarga('desactivar_maquina'); desactivarBotones();" action="{% url 'desactivar_maquina' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}" method="post">
        {% csrf_token %}
      <button id="miBoton" type="submit" class="btn btn-primary">Desactivar</button>
      </form>
    </div>
    {% else %}
    <div>
      <form id="desactivar_maquina" onclick="mostrarIndicadorDeCarga('desactivar_maquina')" action="{% url 'activar_maquina' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}" method="post">
      {% csrf_token %}
      <button id="miBoton" type="submit" class="btn btn-success">Activar </button>
      </form>
    </div>

    {% if messages %}
    <div class="col-sm-12 col-xl-5">
      <div class="alert alert-primary alert-dismissible fade show">
        <i class="fa fa-exclamation-circle me-2"></i>
        {% for message in messages %}
          <!-- Si el mensaje es de error -->
          {% if message.tags == 'error' %}
            {{ message }}
          {% elif message.tags == 'success' %}
            <p> {{ message }} </p>
          {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
      </div>
    </div>
    {% endif %}
      <!-- End of messages -->
    {% endif %}
      <!-- End of inactive machine -->
  </div>
</div>
{% if control %}
  {% if not control == 1  %}
  <div class="modal fade show" id="statusModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
      <div class="modal-content"> 
        <div class="modal-body text-center p-lg-4" style="background-color: #191C24;"> 
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" /> 
            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" X2="34.4" y2="92.2" /> 
          </svg> 
          <h4 class="text-danger mt-3">¡Incorrecta!</h4> 
          <p class="mt-3">La flag que acabas de introducir en incorrecta.</p>
          <!-- <form action="{% url 'gestion_maquina' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}">
            <button type="submit" class="btn btn-sm mt-3 btn-danger" data-bs-dismiss="modal">Volver a intentarlo</button> 
          </form> -->
          <a href="{% url 'gestion_maquina' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}" class="btn btn-sm mt-3 btn-danger">Volver a intentarlo</a>
        </div> 
      </div> 
    </div> 
  </div>
  {% else %}
  <div class="modal fade show" id="statusModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
      <div class="modal-content"> 
        <div class="modal-body text-center p-lg-4" style="background-color: #191C24;"> 
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
            <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
          </svg> 
          <h4 class="text-success mt-3">¡Enhorabuena!</h4> 
          <p class="mt-3">Acabas de conseguir {{puntuacion}} puntos</p>
          <form action="{% url 'gestion_maquina' nombre_maquina=relacion_maquina_jugador.maquina_vulnerable %}">
            <button type="submit" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button> 
          </form>
        </div> 
      </div> 
    </div> 
  </div>
  {% endif %}
{% endif %}
{% endblock %}